# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
Backend/src/Apex_IT.Web.Host/App_Data/Logs/
Backend/src/Apex_IT.Web.Mvc/App_Data/Logs/
Backend/src/Apex_IT.Migrator/Logs/Logs.txt
Backend/build/outputs/
Backend/docker/mvc/Mvc-Logs/

